.course-active {
  border-bottom: 4px solid teal;
}
.break-1 {
  display: none;
}
.break-2 {
  display: none;
}
.course-img {
  height: 220px;
  object-fit: cover;
}
.card-pos {
  position: relative;
}
.card-absolute-pos {
  position: absolute;
  top: 0;
  font-weight: bolder;
  margin: 10px;
  color: rgb(29, 232, 232);
}
.ratings {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 190px;
  margin-left: 10px;
  font-weight: bolder;
  color:rgb(4, 192, 26);

}
.cancel{
  text-decoration: line-through;
  color: grey;
}
.money{
  font-weight: bolder;

}
.c-break{
  display: none;
}
@media (max-width: 576px) {
  .break-1 {
    display: block;
  }
  .break-2 {
    display: block;
  }
  .c-break{
    display: block;
  }
}
