.reco-black{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    height: fit-content;
    padding: 5px 10px;

}
.bi-house-fill{
    font-size: 40px;
    margin-left: 30px;
}
.reco-flex{
    display: flex;
    align-items: center;
}
.video-container{
    height: 470px;
    background-color: blanchedalmond;
    object-fit: cover;
    /* object-position: center center; */
}
.ytp-copy-link-icon{
    display: none;
}
.list-group-item-action{
   font-size: 12px;
}
p{
    font-size: 15px;
}
.position-relate{
    position:relative;
}
.layer{
    position: absolute;
    background-color: white;
    opacity: calc(0%);
    height: 70px;
    width: 100%;
    top:0;
}
.sessions{
    display: none;
}
.tasks{
    display: none;
}
.record-color{
    background-color: blue;
}
@media(max-width:576px){
    
    .video-container{
        height: 250px;
        background-color: blanchedalmond;
    }
    .reco-black{
        padding: 1px 2px;
        margin-left: -30px;
    }
    .bi-house-fill{
        font-size: 30px;
        margin-left:0px;

    }
}