@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,100&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
body {
  font-family: "Poppins", sans-serif;
}
.con-static{
  position: sticky;
  top: 0;
}
.home-link{
  border-bottom: 4px solid teal;
}
.login-black {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.login-btn {
  display: none;
}
.navbar-toggler {
  border: none;
}
/* .navbar-collapse{
    border: 5px solid green;
} */
.container {
  background-color: #ffffff;
  padding: 10px;
}
.s-blue {
  padding: 5px 18px;
  border-radius: 50%;
  background-color: rgb(100, 100, 255);
  color: white;
  font-weight: 900;
}

.brand-name {
  font-weight: 600;
  font-size: 30px;
  padding-bottom: 20px;
}
.up-blue {
  color: rgb(110, 110, 247);
}
.n-orange {
  color: tomato;
  font-weight: 900;
  font-size: 45px;
}
.nav-link {
  margin-right: 35px;
  font-weight: 500;
  background-color: #ffffff;
  padding: 3px 5px;
  border-radius: 8px;
}
.nav-link:hover {
  margin-right: 35px;
  font-weight: 500;
  background-color: rgb(228, 242, 246);
  padding: 3px 5px;
  border-radius: 8px;
  cursor: pointer;
}

.circle {
  border-radius: 55px;
  color: white;
  border: none;
  padding: 7px 15px;
  background-color: rgb(81, 81, 232);
}
.circle:hover {
  background-color: rgb(81, 81, 232);
  color: white;
}
/* -------------------nav bar css completed---------------- */
.punch-content {
  width: auto;
  margin: 10px;
  /* display: flex; */
  text-align: center;
}
.punch-name {
  font-size: 50px;
  font-weight: 900;
}
.orange {
  color: tomato;
}
.and {
  font-size: 80px;
  color: tomato;
}
.punch-tag-name {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 30px;
}
.black {
  border-radius: 55px;
  color: white;
  border: 1px solid black;
  padding: 7px 15px;
  background-color: black;
  color: white;
  font-weight: 500;
}
.vid-btn {
  border-radius: 55px;
  border: 1px solid rgb(203, 201, 201);
  background-color: white;
  color: black;
  padding: 7px 15px;
  font-weight: 500;
}
.bi-play-fill {
  color: blue;
}
/* -------------------punch line is completed------------------ */
.parent-flex {
  display: flex;
  width: auto;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
}
.child-1 {
  width: auto;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.icon-box {
  text-align: center;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}
.ico {
  font-size: 50px;
  font-weight: 900;
  color: rgb(21, 0, 255);
  padding: 0;
  margin: 0;
}
.icon-heading {
  margin-top: 40px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.row-1 {
  margin: 50px;
  display: flex;
  justify-content: space-between;
}
.students {
  padding: 13px;
  background-color: #ffffff;

  /* border: 1px solid grey; */
  margin: 5px;
  border-radius: 20px;
  box-shadow: 1px 2px 20px 5px rgb(232, 231, 231);
}
.c-2-1 {
  margin-top: -80px;
}
.c-2-2 {
  margin-top: -60px;
}
.c-2-3 {
  margin-top: -20px;
}
.c-3-2 {
  margin-top: -17px;
}
.c-3-3 {
  margin-top: -75px;
}
.c-3-1 {
  margin-top: -78px;
}
.stu-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.student-pic {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* box-shadow: 1px 2px 9px 4px whitesmoke; */
.feed-back {
  text-align: center;
  font-weight: bold;
}
.degree {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  text-align: center;
  width: 100px;
  height: 100px;
}
.blue {
  color: rgb(100, 100, 255);
}
.tomato {
  color: tomato;
}
.card-1 {
  box-shadow: 1px 2px 20px 5px rgb(232, 231, 231);

  border-radius: 17px;
}
.shop-img {
  border-radius: 15px 15px 0 0;
}
.card-p {
  padding: 10px;
}
.free-mov {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-arrow {
  color: rgb(19, 14, 125);
  font-size: 30px;
  font-weight: bolder;
  margin-right: 130px;
  margin-top: -18px;
}
.row-m {
  margin-top: -25px;
}
.hilight {
  background-color: rgb(24, 244, 75);
}
.feed-p {
  text-align: center;
}
.arrow {
  text-decoration: none;
  margin-top: -17px;
}
.help {
  border: none;
  background-color: rgb(255, 47, 0);
  color: white;
  border-radius: 50%;
  padding: 5px 13px;
  font-size: 30px;
  font-weight: 900;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}
.dropdown-menu {
  box-shadow: 1px 2px 20px 5px rgb(232, 231, 231);
  padding: 20px;
  opacity: calc(80%);
  color: black;
  border: none;
  text-decoration: none;
  margin-top: -20px;
}
.helping{
  text-decoration: none;
  color: black;
  font-weight: 900;

}
.ico-g{
    color: rgb(5, 55, 237);
    font-weight: 900;
}
.foot-fields{
       list-style-type:none;
}
/* --------footer------- */
.flex-container{
  margin: 10px 80px;
  width:auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.links-flex{
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;


}
.icons-flex{
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot-link{
  text-decoration: none;
  color: black;
  font-weight:400;
}
.foot-link:hover{
  border-bottom: 2px solid teal;
}
.flex-ico{
  font-size: 30px;
  font-weight: bolder;
}
.bi-instagram{
  color:red;
  padding: 0;
}
.bi-facebook{
  color:blue;
}
.bi-twitter{
  color: rgb(80, 138, 255);
}
.ico-none{
  text-decoration: none;
}


@media (max-width: 576px) {
  .s-blue {
    padding: 3px 15px;
    border-radius: 50%;
    background-color: rgb(100, 100, 255);
    color: white;
    font-weight: 900;
  }
  .login-btn {
    display: block;
    border: none;
    background-color: black;
    border-radius: 8px;
    color: white;
    padding: 5px 10px;

    margin-right: -60px;
  }
  .navbar-toggler {
    border: none;
    margin-left: 7px;
  }
  .login-black {
    display: none;
  }
  .parent-flex {
    margin: 0;
    flex-wrap: wrap;
  }
  .container {
    padding: 10px;
    margin-top: -20px;
  }
  .punch-content {
    width: auto;
    margin: 10px;
    padding: 0px;
  }
  .punch-name {
    font-size: 30px;
    font-weight: 900;
    margin-top: -10px;
  }

  .and {
    font-size: 50px;
  }
  .punch-tag-name {
    font-size: 30px;
  }
  .feed-back {
    font-size: 25px;
  }
  .row-1 {
    margin: 0px;
  }
  .c-2-1 {
    margin-top: 9px;
  }
  .c-2-2 {
    margin-top: 9px;
  }
  .c-2-3 {
    margin-top: 9px;
  }
  .c-3-2 {
    margin-top: 9px;
  }
  .c-3-3 {
    margin-top: 9px;
  }
  .c-3-1 {
    margin-top: 9px;
  }
  .students {
    border-radius: 7px;
  }
  .shop-img {
    border-radius: 7px 7px 0 0;
  }
  .card-1 {
    border-radius: 8px;
    margin-bottom: 18px;
  }
  .right-arrow {
    color: rgb(19, 14, 125);
    font-size: 30px;
    font-weight: bolder;
    margin-right: 70px;
    margin-top: -15px;
  }
  .help{
    margin: 10px;
  }
  .flex-container{
    width: auto;
    margin:0px 20px;
    flex-wrap:wrap;
    margin:0px 20px;
    justify-content: center;
    text-align: center;
  }
  .links-flex{
    width:100%;
    justify-content: space-between;
    margin-bottom: 30px;

  }

}
